* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /*    overflow: hidden; */
}

.navbar {
    background: blue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
}

.navbar>ul {
    display: flex;
    justify-content: center;
    margin: 0 1rem 1rem 1rem;
}

.nav-links {
    list-style: none;
    margin: 0 1rem;
}

.nav-links>a {
    text-decoration: none;
    color: #030303;
}

.container {
    height: 150vh;
    width: 100vw;
    text-align: center;
    margin: 1rem 0;
    padding: 2rem;
}

.main {
    /*   overflow-y: scroll;
     First option 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    */
}

#home {
    background-color: burlywood;
}

#a {
    background-color: cadetblue;
}

#b {
    background-color: cornflowerblue;
}

#c {
    background-color: cyan;
}